source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget Newtonsoft.Json

group Test
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    clitool dotnet-xunit
    nuget Microsoft.NET.Test.Sdk
    nuget Unquote
    nuget xunit
    nuget xunit.runner.visualstudio

group Build
    source https://api.nuget.org/v3/index.json

    nuget FAKE